.clear{
	clear:both;
}

.leftbar{
	width:20%;
	height:150px;
	float:left;
	border:#FF0000 solid 0px;
}


.maindiv{
	width:80%;
	height:auto;
	float:left;
	background:#999999;
	border:#FF0000 solid 0px;
}

.subdiv{
	width:auto;
	height:auto;
	border:solid #000000 0px;
	font-size:16px;
}
		
.regdiv{
	width:1000px;
	height:auto;
	border:#FF0000 solid 0px;
	text-align:center;
	margin:0px auto;
}
